/* Timeline CSS */

:root {
	--timeline-line-width: 4px;
	--timeline-icon-size: 40px;
	--timeline-line-color: rgba(0, 0, 0, 0.1);
}

.timeline-container {
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
}

.timeline-container>.timeline-line {
	position: absolute;
	height: 100%;
	width: var(--timeline-line-width);
	background-color: var(--timeline-line-color);
	border-color: var(--timeline-line-color);
	border-style: none;
}

.timeline-container>.timeline-line::after {
	content: '';
	height: calc(var(--timeline-line-width) * 4);
	width: calc(var(--timeline-line-width) * 4);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	background-color: inherit;
	border-radius: 50%;
}

.timeline-align-right>.timeline-line {
	left: calc(var(--timeline-icon-size) + var(--timeline-line-width) / 2);
}

.timeline-align-left>.timeline-line {
	left: calc(100% - var(--timeline-icon-size) - var(--timeline-line-width) / 2);
}

.timeline-align-right-alternate>.timeline-line,
.timeline-align-left-alternate>.timeline-line {
	left: 50%;
	transform: translateX(-50%);
}

.timeline-align-right>div>.el-item {
	width: auto;
	left: 0;
	padding-left: var(--timeline-icon-size);
	padding-right: 0;
}

.timeline-align-left>div>.el-item {
	width: auto;
	left: 0;
	padding-right: 80px;
	padding-left: 0;
}

.timeline-align-right-alternate>div:nth-child(even)>.el-item {
	width: calc(50% - var(--timeline-icon-size));
	left: 50%;
	padding-left: var(--timeline-icon-size);
	padding-right: 0;
}

.timeline-align-right-alternate>div:nth-child(odd)>.el-item {
	width: calc(50% - var(--timeline-icon-size));
	left: 0;
	padding-right: 80px;
	padding-left: 0;
}

.timeline-align-left-alternate>div:nth-child(even)>.el-item {
	width: calc(50% - var(--timeline-icon-size));
	left: 0;
	padding-right: 80px;
	padding-left: 0;
}

.timeline-align-left-alternate>div:nth-child(odd)>.el-item {
	width: calc(50% - var(--timeline-icon-size));
	left: 50%;
	padding-left: var(--timeline-icon-size);
	padding-right: 0;
}

.timeline-container>div>.el-icon {
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
}

.timeline-align-right>div>.el-icon {
	left: 0;
}

.timeline-align-left>div>.el-icon {
	left: calc(100% - (var(--timeline-icon-size)) * 2);
}

.timeline-align-right-alternate>div>.el-icon,
.timeline-align-left-alternate>div>.el-icon {
	left: calc(50% - var(--timeline-icon-size) - var(--timeline-line-width));
}

.timeline-icon-default {
	height: 20px;
	width: 20px;
	margin-left: 30px;
}

@media (min-width: 640px) {
	.timeline-align-right\@s >.timeline-line {
		left: calc(var(--timeline-icon-size) + var(--timeline-line-width) / 2);
	}

	.timeline-align-left\@s >.timeline-line {
		left: calc(100% - var(--timeline-icon-size) - var(--timeline-line-width) / 2);
	}

	.timeline-align-right-alternate\@s >.timeline-line {
		left: 50%;
		transform: translateX(-50%);
	}

	.timeline-align-left-alternate\@s >.timeline-line {
		left: 50%;
		transform: translateX(-50%);
	}


	.timeline-align-right\@s>div>.el-item {
		width: auto;
		left: 0;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-left\@s>div>.el-item {
		width: auto;
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-right-alternate\@s >div:nth-child(even)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 50%;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-right-alternate\@s >div:nth-child(odd)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-left-alternate\@s >div:nth-child(even)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-left-alternate\@s >div:nth-child(odd)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 50%;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-right\@s>div>.el-icon {
		left: 0;
	}

	.timeline-align-left\@s>div>.el-icon {
		left: calc(100% - (var(--timeline-icon-size)) * 2);
	}

	.timeline-align-right-alternate\@s>div>.el-icon,
	.timeline-align-left-alternate\@s>div>.el-icon {
		left: calc(50% - var(--timeline-icon-size) - var(--timeline-line-width));
	}
}

@media (min-width: 960px) {

	.timeline-align-right\@m >.timeline-line {
		left: calc(var(--timeline-icon-size) + var(--timeline-line-width) / 2);
	}

	.timeline-align-left\@m >.timeline-line {
		left: calc(100% - var(--timeline-icon-size) - var(--timeline-line-width) / 2);
	}

	.timeline-align-right-alternate\@m >.timeline-line {
		left: 50%;
		transform: translateX(-50%);
	}

	.timeline-align-left-alternate\@m >.timeline-line {
		left: 50%;
		transform: translateX(-50%);
	}


	.timeline-align-right\@m>div>.el-item {
		width: auto;
		left: 0;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-left\@m>div>.el-item {
		width: auto;
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-right-alternate\@m >div:nth-child(even)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 50%;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-right-alternate\@m >div:nth-child(odd)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-left-alternate\@m >div:nth-child(even)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-left-alternate\@m >div:nth-child(odd)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 50%;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-right\@m>div>.el-icon {
		left: 0;
	}

	.timeline-align-left\@m>div>.el-icon {
		left: calc(100% - (var(--timeline-icon-size)) * 2);
	}

	.timeline-align-right-alternate\@m>div>.el-icon,
	.timeline-align-left-alternate\@m>div>.el-icon {
		left: calc(50% - var(--timeline-icon-size) - var(--timeline-line-width));
	}
}

@media (min-width: 1200px) {

	.timeline-align-right\@l >.timeline-line {
		left: calc(var(--timeline-icon-size) + var(--timeline-line-width) / 2);
	}

	.timeline-align-left\@l >.timeline-line {
		left: calc(100% - var(--timeline-icon-size) - var(--timeline-line-width) / 2);
	}

	.timeline-align-right-alternate\@l >.timeline-line {
		left: 50%;
		transform: translateX(-50%);
	}

	.timeline-align-left-alternate\@l >.timeline-line {
		left: 50%;
		transform: translateX(-50%);
	}


	.timeline-align-right\@l>div>.el-item {
		width: auto;
		left: 0;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-left\@l>div>.el-item {
		width: auto;
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-right-alternate\@l >div:nth-child(even)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 50%;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-right-alternate\@l >div:nth-child(odd)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-left-alternate\@l >div:nth-child(even)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-left-alternate\@l >div:nth-child(odd)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 50%;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-right\@l>div>.el-icon {
		left: 0;
	}

	.timeline-align-left\@l>div>.el-icon {
		left: calc(100% - (var(--timeline-icon-size)) * 2);
	}

	.timeline-align-right-alternate\@l>div>.el-icon,
	.timeline-align-left-alternate\@l>div>.el-icon {
		left: calc(50% - var(--timeline-icon-size) - var(--timeline-line-width));
	}
}

@media (min-width: 1600px) {

	.timeline-align-right\@xl >.timeline-line {
		left: calc(var(--timeline-icon-size) + var(--timeline-line-width) / 2);
	}

	.timeline-align-left\@xl >.timeline-line {
		left: calc(100% - var(--timeline-icon-size) - var(--timeline-line-width) / 2);
	}

	.timeline-align-right-alternate\@xl >.timeline-line {
		left: 50%;
		transform: translateX(-50%);
	}

	.timeline-align-left-alternate\@xl >.timeline-line {
		left: 50%;
		transform: translateX(-50%);
	}


	.timeline-align-right\@xl>div>.el-item {
		width: auto;
		left: 0;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-left\@xl>div>.el-item {
		width: auto;
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-right-alternate\@xl >div:nth-child(even)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 50%;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-right-alternate\@xl >div:nth-child(odd)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-left-alternate\@xl >div:nth-child(even)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 0;
		padding-right: 80px;
		padding-left: 0;
	}

	.timeline-align-left-alternate\@xl >div:nth-child(odd)>.el-item {
		width: calc(50% - var(--timeline-icon-size));
		left: 50%;
		padding-left: var(--timeline-icon-size);
		padding-right: 0;
	}

	.timeline-align-right\@xl>div>.el-icon {
		left: 0;
	}

	.timeline-align-left\@xl>div>.el-icon {
		left: calc(100% - (var(--timeline-icon-size)) * 2);
	}

	.timeline-align-right-alternate\@xl>div>.el-icon,
	.timeline-align-left-alternate\@xl>div>.el-icon {
		left: calc(50% - var(--timeline-icon-size) - var(--timeline-line-width));
	}
}
